# SQL y su interacción con Python

## Conceptos básicos

**SQL (Structured Query Language)** Es un lenguaje específico diseñado para manipular datos almacenados en bases de datos relacionales (RDBMS), o para el procesamiento streaming en flujos de datos diseñados para near real time processing (RDSMS). Es particularmente útil en el manejo de datos estructurados, es decir, datos que incorporan relaciones entre entidades y variables.

**SQLite.** SQLite es una librería escrita en lenguaje C que implementa un motor de base de datos SQL pequeño, rápido, autónomo, de alta confiabilidad y con todas las funciones. SQLite es el motor de base de datos más utilizado en el mundo. Este está integrado en todos los teléfonos móviles y la mayoría de las computadoras y viene incluido en innumerables aplicaciones que usamos diariamente.

**SQLAlchemy** Es la librería usada para SQL y mapeo de objetos relacionales que brinda a los desarrolladores la posibilidad de usar toda la potencia y flexibilidad de SQL desde Python.

**Postgres** Es un sistema de administración de bases de datos relacionales (RDBMS) gratuito y de código abierto que enfatiza la extensibilidad y el cumplimiento de SQL. Es posible crear una instancia de este tipo de motor de BD en nube.

## Leer una fuente de datos SQLite

In [37]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///crime.db')
#engine=create_engine(f'postgresql://{DB_USERNAME}:{DB_PASSWORD}@localhost/postgres', max_overflow=20)
df = pd.read_sql("SELECT * from crime LIMIT 100", engine.connect(), parse_dates=('OCCURRED_ON_DATE',))
print(df.head())

  INCIDENT_NUMBER  OFFENSE_CODE    OFFENSE_CODE_GROUP   OFFENSE_DESCRIPTION  \
0      I182070945           619               Larceny    LARCENY ALL OTHERS
1      I182070943          1402             Vandalism             VANDALISM
2      I182070941          3410                 Towed   TOWED MOTOR VEHICLE
3      I182070940          3114  Investigate Property  INVESTIGATE PROPERTY
4      I182070938          3114  Investigate Property  INVESTIGATE PROPERTY

  DISTRICT REPORTING_AREA SHOOTING    OCCURRED_ON_DATE  YEAR  MONTH  \
0      D14            808     None 2018-09-02 13:00:00  2018      9
1      C11            347     None 2018-08-21 00:00:00  2018      8
2       D4            151     None 2018-09-03 19:27:00  2018      9
3       D4            272     None 2018-09-03 21:16:00  2018      9
4       B3            421     None 2018-09-03 21:05:00  2018      9

  DAY_OF_WEEK  HOUR    UCR_PART       STREET        Lat       Long  \
0      Sunday    13    Part One   LINCOLN ST  42.357791 -71.139371
1     Tuesday     0    Part Two     HECLA ST  42.306821 -71.060300
2      Monday    19  Part Three  CAZENOVE ST  42.346589 -71.072429
3      Monday    21  Part Three   NEWCOMB ST  42.334182 -71.078664
4      Monday    21  Part Three     DELHI ST  42.275365 -71.090361

                      Location
0  (42.35779134, -71.13937053)
1  (42.30682138, -71.06030035)
2  (42.34658879, -71.07242943)
3  (42.33418175, -71.07866441)
4  (42.27536542, -71.09036101)

Los campos que encontramos en el dataset de crimenes:

1. **INCIDENT_NUMBER**
2. **OFFENSE_CODE**
3. **OFFENSE_CODE_GROUP**
4. **OFFENSE_DESCRIPTION**
5. **DISTRICT**
6. **REPORTING_AREA**
7. **SHOOTING**
8. **OCCURED_ON_DATE**
9. **YEAR**
10. **MONTH**
11. **DAY_OF_WEEK**
12. **HOUR**
13. **UCR_PART**
14. **STREET**
15. **Lat**
16. **Long**
17. **Location**

### SELECT, FROM, WHERE

Muestre 100 registros del dataset de crímenes que correspondan a vandalismo.

In [16]:

print(pd.read_sql(
    
    "SELECT * FROM crime WHERE OFFENSE_CODE_GROUP = 'Vandalism' LIMIT 100"
    
    , engine.connect()))

   INCIDENT_NUMBER  OFFENSE_CODE OFFENSE_CODE_GROUP OFFENSE_DESCRIPTION  \
0       I182070943          1402          Vandalism           VANDALISM
1       I182070887          1402          Vandalism           VANDALISM
2       I182070881          1402          Vandalism           VANDALISM
3       I182070872          1402          Vandalism           VANDALISM
4       I182070822          1402          Vandalism           VANDALISM
5       I182070803          1402          Vandalism           VANDALISM
6       I182070765          1402          Vandalism           VANDALISM
7       I182070763          1402          Vandalism           VANDALISM
8       I182070746          1402          Vandalism           VANDALISM
9       I182070701          1402          Vandalism           VANDALISM
10      I182070680          1402          Vandalism           VANDALISM
11      I182070652          1402          Vandalism           VANDALISM
12      I182070625          1402          Vandalism           VANDALISM
13      I182070608          1402          Vandalism           VANDALISM
14      I182070606          1402          Vandalism           VANDALISM
15      I182070593          1402          Vandalism           VANDALISM
16      I182070592          1402          Vandalism           VANDALISM
17      I182070552          1402          Vandalism           VANDALISM
18      I182070536          1402          Vandalism           VANDALISM
19      I182070508          1402          Vandalism           VANDALISM
20      I182070497          1402          Vandalism           VANDALISM
21      I182070496          1402          Vandalism           VANDALISM
22      I182070485          1402          Vandalism           VANDALISM
23      I182070484          1402          Vandalism           VANDALISM
24      I182070453          1402          Vandalism           VANDALISM
25      I182070441          1402          Vandalism           VANDALISM
26      I182070438          1402          Vandalism           VANDALISM
27      I182070432          1402          Vandalism           VANDALISM
28      I182070417          1402          Vandalism           VANDALISM
29      I182070413          1402          Vandalism           VANDALISM
..             ...           ...                ...                 ...
70      I182069602          1402          Vandalism           VANDALISM
71      I182069567          1402          Vandalism           VANDALISM
72      I182069552          1402          Vandalism           VANDALISM
73      I182069542          1402          Vandalism           VANDALISM
74      I182069519          1402          Vandalism           VANDALISM
75      I182069479          1402          Vandalism           VANDALISM
76      I182069469          1402          Vandalism           VANDALISM
77      I182069440          1402          Vandalism           VANDALISM
78      I182069435          1402          Vandalism           VANDALISM
79      I182069426          1402          Vandalism           VANDALISM
80      I182069411          1402          Vandalism           VANDALISM
81      I182069340          1402          Vandalism           VANDALISM
82      I182069337          1402          Vandalism           VANDALISM
83      I182069317          1402          Vandalism           VANDALISM
84      I182069307          1402          Vandalism           VANDALISM
85      I182069303          1402          Vandalism           VANDALISM
86      I182069269          1402          Vandalism           VANDALISM
87      I182069252          1402          Vandalism           VANDALISM
88      I182069238          1402          Vandalism           VANDALISM
89      I182069206          1402          Vandalism           VANDALISM
90      I182069200          1402          Vandalism           VANDALISM
91      I182069187          1402          Vandalism           VANDALISM
92      I182069178          1402          Vandalism           VANDALISM
93      I182069130          1402          Vandalism           VANDALISM
94      I182069046          1402          Vandalism           VANDALISM
95      I182069035          1402          Vandalism           VANDALISM
96      I182069034          1402          Vandalism           VANDALISM
97      I182069012          1415          Vandalism            GRAFFITI
98      I182068988          1402          Vandalism           VANDALISM
99      I182068983          1402          Vandalism           VANDALISM

   DISTRICT REPORTING_AREA SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH  \
0       C11            347     None  2018-08-21 00:00:00  2018      8
1        D4            149     None  2018-09-01 12:00:00  2018      9
2       C11            356     None  2018-09-03 15:00:00  2018      9
3        C6            205     None  2018-08-31 17:00:00  2018      8
4        C6            231     None  2018-09-03 13:44:00  2018      9
5        B3            463     None  2018-08-17 12:10:00  2018      8
6        D4            131     None  2018-09-03 05:30:00  2018      9
7        B3            437     None  2018-09-03 07:44:00  2018      9
8       C11            462     None  2018-08-31 07:00:00  2018      8
9       C11            254     None  2018-09-02 23:20:00  2018      9
10       C6            232     None  2018-09-02 21:57:00  2018      9
11      E13            906     None  2018-09-02 20:08:00  2018      9
12       B2            268     None  2018-09-02 18:58:00  2018      9
13     None           None     None  2018-09-02 17:15:00  2018      9
14      C11            416     None  2018-09-02 16:58:00  2018      9
15      E13            572     None  2018-09-01 14:30:00  2018      9
16       B3            441     None  2018-09-02 17:12:00  2018      9
17       B2            318     None  2018-09-01 23:00:00  2018      9
18       C6            214     None  2018-07-30 12:51:00  2018      7
19      E18            543     None  2018-09-02 09:26:00  2018      9
20       C6            233     None  2018-09-02 04:10:00  2018      9
21       B2            318     None  2018-09-02 00:00:00  2018      9
22      C11            451     None  2018-09-02 06:26:00  2018      9
23       E5            674     None  2018-09-02 06:58:00  2018      9
24       E5            562     None  2018-09-02 02:00:00  2018      9
25       C6            214     None  2018-09-02 00:30:00  2018      9
26       A1             72     None  2018-09-02 00:32:00  2018      9
27      E13            508     None  2018-09-01 23:57:00  2018      9
28       B2            182     None  2018-09-01 18:15:00  2018      9
29       D4            144     None  2018-09-01 21:41:00  2018      9
..      ...            ...      ...                  ...   ...    ...
70       C6            186     None  2018-08-29 16:00:00  2018      8
71      E13            648     None  2018-08-29 18:15:00  2018      8
72       C6            229     None  2018-08-20 20:00:00  2018      8
73       B3            466     None  2018-08-30 06:38:00  2018      8
74       D4            622     None  2018-08-30 00:23:00  2018      8
75       D4            271     None  2018-08-29 20:51:00  2018      8
76      A15             37     None  2018-08-29 16:30:00  2018      8
77       B3            424     None  2018-08-29 18:08:00  2018      8
78      D14            806     None  2018-08-29 12:05:00  2018      8
79       C6            214     None  2018-08-29 18:37:00  2018      8
80       B2            310     None  2018-08-29 17:13:00  2018      8
81       C6            214     None  2018-08-22 12:00:00  2018      8
82       C6            214     None  2018-08-22 08:00:00  2018      8
83       C6            175     None  2018-08-29 12:16:00  2018      8
84       C6            214     None  2018-08-15 22:00:00  2018      8
85      C11            242     None  2018-08-29 10:58:00  2018      8
86       A1             69     None  2018-08-28 21:00:00  2018      8
87       D4           None     None  2018-08-29 09:56:00  2018      8
88       D4            145     None  2018-08-29 08:43:00  2018      8
89       B2            180     None  2018-08-29 01:49:00  2018      8
90      C11            350     None  2018-08-29 01:30:00  2018      8
91       B2           None     None  2018-08-28 23:49:00  2018      8
92       B3            427     None  2018-08-28 22:51:00  2018      8
93       B3            442     None  2018-08-28 19:27:00  2018      8
94      C11            357     None  2018-08-28 08:00:00  2018      8
95      C11            337     None  2018-08-27 21:00:00  2018      8
96       A7            907     None  2018-08-28 14:56:00  2018      8
97      C11            357     None  2018-08-28 13:00:00  2018      8
98       A7             26     None  2018-08-28 09:17:00  2018      8
99       C6            207     None  2018-08-26 02:20:00  2018      8

   DAY_OF_WEEK  HOUR  UCR_PART          STREET        Lat       Long  \
0      Tuesday     0  Part Two        HECLA ST  42.306821 -71.060300
1     Saturday    12  Part Two     W NEWTON ST  42.343858 -71.079535
2       Monday    15  Part Two      GENEVA AVE  42.298489 -71.063133
3       Friday    17  Part Two            A ST  42.347543 -71.050662
4       Monday    13  Part Two    E SEVENTH ST  42.332385 -71.030161
5       Friday    12  Part Two   BLUE HILL AVE  42.292165 -71.088970
6       Monday     5  Part Two       BEACON ST  42.353940 -71.078030
7       Monday     7  Part Two      NORFOLK ST  42.289969 -71.072325
8       Friday     7  Part Two      BULLARD ST  42.302188 -71.073650
9       Sunday    23  Part Two  DORCHESTER AVE  42.307828 -71.058375
10      Sunday    21  Part Two            P ST  42.332926 -71.027090
11      Sunday    20  Part Two       HORAN WAY  42.325475 -71.102535
12      Sunday    18  Part Two        ADAMS ST  42.328515 -71.076537
13      Sunday    17  Part Two            None  42.339742 -71.079609
14      Sunday    16  Part Two   WASHINGTON ST  42.281647 -71.071118
15    Saturday    14  Part Two    COLUMBUS AVE  42.313628 -71.095603
16      Sunday    17  Part Two      HARVARD ST  42.296297 -71.081153
17    Saturday    23  Part Two       SEAVER ST  42.308789 -71.090556
18      Monday    12  Part Two      W FIFTH ST  42.335985 -71.050083
19      Sunday     9  Part Two        RIVER ST  42.255192 -71.127617
20      Sunday     4  Part Two     E EIGHTH ST  42.331317 -71.044112
21      Sunday     0  Part Two       SEAVER ST  42.308789 -71.090556
22      Sunday     6  Part Two   WASHINGTON ST  42.294173 -71.071938
23      Sunday     6  Part Two        SOUTH ST  42.288780 -71.134381
24      Sunday     2  Part Two   WASHINGTON ST  42.287889 -71.126586
25      Sunday     0  Part Two      W FIFTH ST  42.335985 -71.050083
26      Sunday     0  Part Two      BOWDOIN ST  42.358323 -71.062784
27    Saturday    23  Part Two   HYDE PARK AVE  42.291828 -71.117801
28    Saturday    18  Part Two   MARSHFIELD ST  42.322632 -71.069798
29    Saturday    21  Part Two     CLEARWAY ST  42.345228 -71.085378
..         ...   ...       ...             ...        ...        ...
70   Wednesday    16  Part Two     ALLSTATE RD  42.328100 -71.063217
71   Wednesday    18  Part Two      BOYNTON ST  42.305409 -71.111862
72      Monday    20  Part Two      E FIFTH ST  42.333814 -71.042849
73    Thursday     6  Part Two      OUTLOOK RD  42.282455 -71.094488
74    Thursday     0  Part Two   CHARLESGATE W  42.350180 -71.092868
75   Wednesday    20  Part Two         REED ST  42.334724 -71.076603
76   Wednesday    16  Part Two     TERMINAL ST  42.381808 -71.056154
77   Wednesday    18  Part Two   GLADESIDE TER  42.273080 -71.087357
78   Wednesday    12  Part Two     WESTERN AVE  42.361815 -71.144003
79   Wednesday    18  Part Two            D ST  42.338436 -71.051269
80   Wednesday    17  Part Two       ELBERT ST  42.317332 -71.085696
81   Wednesday    12  Part Two     W FOURTH ST  42.337598 -71.050890
82   Wednesday     8  Part Two            E ST  42.337627 -71.049509
83   Wednesday    12  Part Two     BRADSTON ST  42.333746 -71.070204
84   Wednesday    22  Part Two            E ST  42.337627 -71.049509
85   Wednesday    10  Part Two       SUMNER SQ  42.316325 -71.062238
86     Tuesday    21  Part Two         LIME ST  42.357222 -71.071203
87   Wednesday     9  Part Two       ALBANY ST        NaN        NaN
88   Wednesday     8  Part Two     W NEWTON ST  42.344923 -71.081099
89   Wednesday     1  Part Two     MAGAZINE ST  42.325529 -71.073524
90   Wednesday     1  Part Two  DORCHESTER AVE  42.303081 -71.059451
91     Tuesday    23  Part Two   BLUE HILL AVE        NaN        NaN
92     Tuesday    22  Part Two    FESSENDEN ST  42.278560 -71.091997
93     Tuesday    19  Part Two     WESTCOTT ST  42.293218 -71.078865
94     Tuesday     8  Part Two       DAKOTA ST  42.299385 -71.069789
95      Monday    21  Part Two        WYOLA PL  42.308023 -71.074742
96     Tuesday    14  Part Two      CUNARD WAY  42.370428 -71.040962
97     Tuesday    13  Part Two       DAKOTA ST  42.299385 -71.069789
98     Tuesday     9  Part Two       BORDER ST  42.380933 -71.040239
99      Sunday     2  Part Two  MARINA PARK DR  42.353002 -71.045023

                       Location
0   (42.30682138, -71.06030035)
1   (42.34385799, -71.07953502)
2   (42.29848866, -71.06313294)
3   (42.34754258, -71.05066210)
4   (42.33238533, -71.03016099)
5   (42.29216506, -71.08896989)
6   (42.35393998, -71.07802992)
7   (42.28996858, -71.07232540)
8   (42.30218780, -71.07365004)
9   (42.30782846, -71.05837474)
10  (42.33292583, -71.02709025)
11  (42.32547536, -71.10253482)
12  (42.32851529, -71.07653709)
13  (42.33974218, -71.07960918)
14  (42.28164735, -71.07111848)
15  (42.31362799, -71.09560307)
16  (42.29629726, -71.08115283)
17  (42.30878855, -71.09055618)
18  (42.33598510, -71.05008287)
19  (42.25519156, -71.12761721)
20  (42.33131745, -71.04411164)
21  (42.30878855, -71.09055618)
22  (42.29417346, -71.07193797)
23  (42.28878014, -71.13438128)
24  (42.28788933, -71.12658585)
25  (42.33598510, -71.05008287)
26  (42.35832299, -71.06278436)
27  (42.29182835, -71.11780085)
28  (42.32263156, -71.06979845)
29  (42.34522836, -71.08537838)
..                          ...
70  (42.32809966, -71.06321676)
71  (42.30540934, -71.11186180)
72  (42.33381437, -71.04284935)
73  (42.28245514, -71.09448768)
74  (42.35018007, -71.09286761)
75  (42.33472388, -71.07660307)
76  (42.38180833, -71.05615420)
77  (42.27307979, -71.08735708)
78  (42.36181486, -71.14400320)
79  (42.33843569, -71.05126876)
80  (42.31733171, -71.08569645)
81  (42.33759774, -71.05089010)
82  (42.33762749, -71.04950865)
83  (42.33374643, -71.07020353)
84  (42.33762749, -71.04950865)
85  (42.31632540, -71.06223796)
86  (42.35722239, -71.07120320)
87     (0.00000000, 0.00000000)
88  (42.34492261, -71.08109885)
89  (42.32552923, -71.07352421)
90  (42.30308131, -71.05945101)
91     (0.00000000, 0.00000000)
92  (42.27855984, -71.09199697)
93  (42.29321805, -71.07886455)
94  (42.29938509, -71.06978865)
95  (42.30802300, -71.07474175)
96  (42.37042773, -71.04096159)
97  (42.29938509, -71.06978865)
98  (42.38093345, -71.04023929)
99  (42.35300247, -71.04502270)

[100 rows x 17 columns]

Muestre 10 incidentes del año 2018 con su respectiva descripción

In [14]:
print(pd.read_sql(
    
    "SELECT INCIDENT_NUMBER, OFFENSE_DESCRIPTION FROM crime WHERE YEAR = '2018' LIMIT 10"
    
    , engine.connect()))

  INCIDENT_NUMBER                         OFFENSE_DESCRIPTION
0      I182070945                          LARCENY ALL OTHERS
1      I182070943                                   VANDALISM
2      I182070941                         TOWED MOTOR VEHICLE
3      I182070940                        INVESTIGATE PROPERTY
4      I182070938                        INVESTIGATE PROPERTY
5      I182070936  M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY
6      I182070933                                  AUTO THEFT
7      I182070932                              VERBAL DISPUTE
8      I182070931                            ROBBERY - STREET
9      I182070929                              VERBAL DISPUTE

Muestre los incidentes que se hayan dado después de las 7pm con su respectiva descripción. Ordene el resultado final por INCIDENT_NUMBER de manera ascendente.

In [21]:
print(pd.read_sql(
    
    "SELECT INCIDENT_NUMBER, HOUR, OFFENSE_DESCRIPTION FROM crime WHERE HOUR >= 19 ORDER BY INCIDENT_NUMBER ASC"
    
    , engine.connect()))

  INCIDENT_NUMBER  HOUR                                OFFENSE_DESCRIPTION
0   I010370257-00    19                                     WARRANT ARREST
1   I110177502-00    21                                     WARRANT ARREST
2   I110177502-00    21                                  ASSAULT & BATTERY
3   I110177502-00    21                                     WARRANT ARREST
4   I110551302-00    22                                     WARRANT ARREST
5   I110551302-00    22                    LARCENY SHOPLIFTING $50 TO $199
6   I120470733-00    19                                         AUTO THEFT
7   I120470733-00    19                                         AUTO THEFT
8   I120470733-00    19  RECOVERED - MV RECOVERED IN BOSTON (STOLEN OUT...
9   I130031413-00    21                               DRUGS - POSS CLASS E

### Conteos y agrupaciones

Cuántos registros hay en el dataset?

In [23]:
print(pd.read_sql(
    
    "SELECT COUNT(0) AS Cantidad FROM crime"
    
    , engine.connect()))

   Cantidad
0    319073

Qué tipos de incidentes hay?

In [24]:
print(pd.read_sql(
    
    "SELECT DISTINCT OFFENSE_CODE_GROUP AS Tipo_Incidente FROM crime"
    
    , engine.connect()))

                               Tipo_Incidente
0                                     Larceny
1                                   Vandalism
2                                       Towed
3                        Investigate Property
4             Motor Vehicle Accident Response
5                                  Auto Theft
6                             Verbal Disputes
7                                     Robbery
8                        Fire Related Reports
9                                       Other
10                              Property Lost
11                         Medical Assistance
12           Assembly or Gathering Violations
13                 Larceny From Motor Vehicle
14                       Residential Burglary
15                             Simple Assault
16               Restraining Order Violations
17                                 Violations
18                                 Harassment
19                                 Ballistics
20                             Property Found
21                   Police Service Incidents
22                             Drug Violation
23                            Warrant Arrests
24                         Disorderly Conduct
25                    Property Related Damage
26                    Missing Person Reported
27                         Investigate Person
28                                      Fraud
29                         Aggravated Assault
..                                        ...
37                           Liquor Violation
38                          Firearm Discovery
39                   Landlord/Tenant Disputes
40                     Missing Person Located
41                        Auto Theft Recovery
42                                    Service
43              Operating Under the Influence
44                           Confidence Games
45                            Search Warrants
46                          License Violation
47                        Commercial Burglary
48                              HOME INVASION
49                  Recovered Stolen Property
50            Offenses Against Child / Family
51                               Prostitution
52                               Evading Fare
53                 Prisoner Related Incidents
54                                   Homicide
55                               Embezzlement
56                                 Explosives
57                        Criminal Harassment
58                      Phone Call Complaints
59                                   Aircraft
60                          Biological Threat
61                               Manslaughter
62                                   Gambling
63                         INVESTIGATE PERSON
64                          HUMAN TRAFFICKING
65  HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE
66               Burglary - No Property Taken

[67 rows x 1 columns]

Cuántos incidentes hay en cada distrito?

In [25]:
print(pd.read_sql(
    
    "SELECT DISTRICT, COUNT(0) AS Cantidad FROM crime GROUP BY DISTRICT"
    
    , engine.connect()))

   DISTRICT  Cantidad
0      None      1765
1        A1     35717
2       A15      6505
3        A7     13544
4        B2     49945
5        B3     35442
6       C11     42530
7        C6     23460
8       D14     20127
9        D4     41915
10      E13     17536
11      E18     17348
12       E5     13239

Cuántos incidentes hay en cada distrito por año?

In [26]:
print(pd.read_sql(
    
    "SELECT DISTRICT, YEAR, COUNT(0) AS Cantidad FROM crime GROUP BY DISTRICT, YEAR"
    
    , engine.connect()))

   DISTRICT  YEAR  Cantidad
0      None  2015       128
1      None  2016       517
2      None  2017       576
3      None  2018       544
4        A1  2015      6015
5        A1  2016     10923
6        A1  2017     11375
7        A1  2018      7404
8       A15  2015      1027
9       A15  2016      1986
10      A15  2017      2167
11      A15  2018      1325
12       A7  2015      2426
13       A7  2016      4130
14       A7  2017      4264
15       A7  2018      2724
16       B2  2015      8687
17       B2  2016     15706
18       B2  2017     15680
19       B2  2018      9872
20       B3  2015      5617
21       B3  2016     11145
22       B3  2017     11195
23       B3  2018      7485
24      C11  2015      7364
25      C11  2016     13603
26      C11  2017     13281
27      C11  2018      8282
28       C6  2015      3941
29       C6  2016      7073
30       C6  2017      7247
31       C6  2018      5199
32      D14  2015      3280
33      D14  2016      6279
34      D14  2017      6509
35      D14  2018      4059
36       D4  2015      7204
37       D4  2016     12953
38       D4  2017     13157
39       D4  2018      8601
40      E13  2015      2801
41      E13  2016      5559
42      E13  2017      5514
43      E13  2018      3662
44      E18  2015      2740
45      E18  2016      5223
46      E18  2017      5612
47      E18  2018      3773
48       E5  2015      2158
49       E5  2016      4017
50       E5  2017      4309
51       E5  2018      2755

Sumamos la latitud aunque desde el punto de vista lógico no tiene ningún sentido?

In [36]:
print(pd.read_sql(
    
    "SELECT DISTRICT, SUM(LAT) AS Suma, MIN(LAT), MAX(LAT) FROM crime GROUP BY DISTRICT"
    
    , engine.connect()))

   DISTRICT          Suma   MIN(LAT)   MAX(LAT)
0      None  3.737971e+04  -1.000000  42.388445
1        A1  1.367341e+06  -1.000000  42.376181
2       A15  2.602454e+05  -1.000000  42.394213
3        A7  5.517058e+05  -1.000000  42.395042
4        B2  1.955296e+06  -1.000000  42.392146
5        B3  1.424981e+06  -1.000000  42.372579
6       C11  1.728712e+06  -1.000000  42.377463
7        C6  9.183247e+05  -1.000000  42.385841
8       D14  8.095232e+05  -1.000000  42.372466
9        D4  1.625734e+06  -1.000000  42.377552
10      E13  7.023851e+05  -1.000000  42.357826
11      E18  7.032510e+05  42.232413  42.357889
12       E5  5.403450e+05  -1.000000  42.356024

Castiémolo para que no se vea tan feo

In [31]:
print(pd.read_sql(
    
    "SELECT DISTRICT, CAST(SUM(LAT) AS INT) AS Suma FROM crime GROUP BY DISTRICT"
    
    , engine.connect()))

   DISTRICT     Suma
0      None    37379
1        A1  1367341
2       A15   260245
3        A7   551705
4        B2  1955295
5        B3  1424981
6       C11  1728711
7        C6   918324
8       D14   809523
9        D4  1625734
10      E13   702385
11      E18   703251
12       E5   540345

Having !!! Genere datos para los distritos que tengan más de 10.000 incidentes por año.

In [32]:
print(pd.read_sql(
    
    "SELECT DISTRICT, YEAR, COUNT(0) AS Cantidad FROM crime GROUP BY DISTRICT, YEAR HAVING COUNT(0) > 10000"
    
    , engine.connect()))

  DISTRICT  YEAR  Cantidad
0       A1  2016     10923
1       A1  2017     11375
2       B2  2016     15706
3       B2  2017     15680
4       B3  2016     11145
5       B3  2017     11195
6      C11  2016     13603
7      C11  2017     13281
8       D4  2016     12953
9       D4  2017     13157

En algunas ocasiones es valioso obtener un subconjunto de una cadena de datos. En este caso vamos a ver las letras de los distritos.

In [34]:
print(pd.read_sql(
    
    "SELECT SUBSTR(DISTRICT,1,1) AS LETRA_D, YEAR, COUNT(0) AS Cantidad FROM crime GROUP BY SUBSTR(DISTRICT,1,1), YEAR"
    
    , engine.connect()))

   LETRA_D  YEAR  Cantidad
0     None  2015       128
1     None  2016       517
2     None  2017       576
3     None  2018       544
4        A  2015      9468
5        A  2016     17039
6        A  2017     17806
7        A  2018     11453
8        B  2015     14304
9        B  2016     26851
10       B  2017     26875
11       B  2018     17357
12       C  2015     11305
13       C  2016     20676
14       C  2017     20528
15       C  2018     13481
16       D  2015     10484
17       D  2016     19232
18       D  2017     19666
19       D  2018     12660
20       E  2015      7699
21       E  2016     14799
22       E  2017     15435
23       E  2018     10190

## Joins SQL

<table class="tab">
   
  <tr>
    <td class="second" width="60%"><div align="left">(INNER) JOIN: devuelve registros que tienen valores coincidentes en ambas tablas</div></td>
    <td class="second"><img src="inner.gif" width="200"></td>
  </tr>
  <td class="second" width="60%"><div align="left">LEFT (OUTER) JOIN: devuelve todos los registros de la tabla a la izquierda (LEFT) y los registros coincidentes de la tabla a la derecha
</div></td>
    <td class="second"><img src="left.gif" width="200"></td>
  </tr>
</table>

<table class="tab">
   
  <tr>
    <td class="second" width="60%"><div align="left">RIGHT (OUTER) JOIN:devuelve todos los registros de la tabla a la derecha del join y los registros coincidentes de la tabla a la izquierda</div></td>
    <td class="second"><img src="right.gif" width="200"></td>
  </tr>
  <td class="second" width="60%"><div align="left">FULL (OUTER) JOIN: Devuelve todos los registros cuando hay una coincidencia en la tabla a la izquierda o derecha del join</div></td>
    <td class="second"><img src="full_outer.gif" width="200"></td>
  </tr>
</table>

In [45]:
# Creamos tabla catálogo offences
from sqlalchemy import *

meta = MetaData()

offence = Table('offence', meta,
    Column('OFFENSE_CODE', Integer, primary_key=True),
    Column('OFFENSE_CODE_GROUP', String(60), nullable=False, key='name')
)
offence.create(engine)

In [65]:
# Insertamos registro en la tabla
engine.execute(offence.insert().values(OFFENSE_CODE = 1402, name = 'Vandalism'))

Inner Join.

In [67]:
print(pd.read_sql(
    
    "SELECT A.* FROM crime A INNER JOIN offence B ON A.OFFENSE_CODE = B.OFFENSE_CODE"
    
    , engine.connect()))

      INCIDENT_NUMBER  OFFENSE_CODE OFFENSE_CODE_GROUP OFFENSE_DESCRIPTION  \
0          I182070943          1402          Vandalism           VANDALISM
1          I182070887          1402          Vandalism           VANDALISM
2          I182070881          1402          Vandalism           VANDALISM
3          I182070872          1402          Vandalism           VANDALISM
4          I182070822          1402          Vandalism           VANDALISM
5          I182070803          1402          Vandalism           VANDALISM
6          I182070765          1402          Vandalism           VANDALISM
7          I182070763          1402          Vandalism           VANDALISM
8          I182070746          1402          Vandalism           VANDALISM
9          I182070701          1402          Vandalism           VANDALISM
10         I182070680          1402          Vandalism           VANDALISM
11         I182070652          1402          Vandalism           VANDALISM
12         I182070625          1402          Vandalism           VANDALISM
13         I182070608          1402          Vandalism           VANDALISM
14         I182070606          1402          Vandalism           VANDALISM
15         I182070593          1402          Vandalism           VANDALISM
16         I182070592          1402          Vandalism           VANDALISM
17         I182070552          1402          Vandalism           VANDALISM
18         I182070536          1402          Vandalism           VANDALISM
19         I182070508          1402          Vandalism           VANDALISM
20         I182070497          1402          Vandalism           VANDALISM
21         I182070496          1402          Vandalism           VANDALISM
22         I182070485          1402          Vandalism           VANDALISM
23         I182070484          1402          Vandalism           VANDALISM
24         I182070453          1402          Vandalism           VANDALISM
25         I182070441          1402          Vandalism           VANDALISM
26         I182070438          1402          Vandalism           VANDALISM
27         I182070432          1402          Vandalism           VANDALISM
28         I182070417          1402          Vandalism           VANDALISM
29         I182070413          1402          Vandalism           VANDALISM
...               ...           ...                ...                 ...
15124      I152050188          1402          Vandalism           VANDALISM
15125      I152050178          1402          Vandalism           VANDALISM
15126      I152050130          1402          Vandalism           VANDALISM
15127      I152050114          1402          Vandalism           VANDALISM
15128      I152050073          1402          Vandalism           VANDALISM
15129      I152050020          1402          Vandalism           VANDALISM
15130      I152049999          1402          Vandalism           VANDALISM
15131      I152049982          1402          Vandalism           VANDALISM
15132      I152049972          1402          Vandalism           VANDALISM
15133      I152049953          1402          Vandalism           VANDALISM
15134      I152049882          1402          Vandalism           VANDALISM
15135      I152049839          1402          Vandalism           VANDALISM
15136      I152049824          1402          Vandalism           VANDALISM
15137      I152049794          1402          Vandalism           VANDALISM
15138      I152049790          1402          Vandalism           VANDALISM
15139      I152049752          1402          Vandalism           VANDALISM
15140      I152049751          1402          Vandalism           VANDALISM
15141      I152049712          1402          Vandalism           VANDALISM
15142      I152049709          1402          Vandalism           VANDALISM
15143      I152049663          1402          Vandalism           VANDALISM
15144      I152049656          1402          Vandalism           VANDALISM
15145      I152049573          1402          Vandalism           VANDALISM
15146      I152049535          1402          Vandalism           VANDALISM
15147      I152049522          1402          Vandalism           VANDALISM
15148      I152049518          1402          Vandalism           VANDALISM
15149      I152049493          1402          Vandalism           VANDALISM
15150      I152049477          1402          Vandalism           VANDALISM
15151      I152049463          1402          Vandalism           VANDALISM
15152   I142049917-00          1402          Vandalism           VANDALISM
15153   I142049917-00          1402          Vandalism           VANDALISM

      DISTRICT REPORTING_AREA SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH  \
0          C11            347     None  2018-08-21 00:00:00  2018      8
1           D4            149     None  2018-09-01 12:00:00  2018      9
2          C11            356     None  2018-09-03 15:00:00  2018      9
3           C6            205     None  2018-08-31 17:00:00  2018      8
4           C6            231     None  2018-09-03 13:44:00  2018      9
5           B3            463     None  2018-08-17 12:10:00  2018      8
6           D4            131     None  2018-09-03 05:30:00  2018      9
7           B3            437     None  2018-09-03 07:44:00  2018      9
8          C11            462     None  2018-08-31 07:00:00  2018      8
9          C11            254     None  2018-09-02 23:20:00  2018      9
10          C6            232     None  2018-09-02 21:57:00  2018      9
11         E13            906     None  2018-09-02 20:08:00  2018      9
12          B2            268     None  2018-09-02 18:58:00  2018      9
13        None           None     None  2018-09-02 17:15:00  2018      9
14         C11            416     None  2018-09-02 16:58:00  2018      9
15         E13            572     None  2018-09-01 14:30:00  2018      9
16          B3            441     None  2018-09-02 17:12:00  2018      9
17          B2            318     None  2018-09-01 23:00:00  2018      9
18          C6            214     None  2018-07-30 12:51:00  2018      7
19         E18            543     None  2018-09-02 09:26:00  2018      9
20          C6            233     None  2018-09-02 04:10:00  2018      9
21          B2            318     None  2018-09-02 00:00:00  2018      9
22         C11            451     None  2018-09-02 06:26:00  2018      9
23          E5            674     None  2018-09-02 06:58:00  2018      9
24          E5            562     None  2018-09-02 02:00:00  2018      9
25          C6            214     None  2018-09-02 00:30:00  2018      9
26          A1             72     None  2018-09-02 00:32:00  2018      9
27         E13            508     None  2018-09-01 23:57:00  2018      9
28          B2            182     None  2018-09-01 18:15:00  2018      9
29          D4            144     None  2018-09-01 21:41:00  2018      9
...        ...            ...      ...                  ...   ...    ...
15124       A1             64     None  2015-06-17 12:10:00  2015      6
15125       B3            466     None  2015-06-17 12:22:00  2015      6
15126      C11            334     None  2015-06-16 19:30:00  2015      6
15127      E18            541     None  2015-06-16 14:00:00  2015      6
15128      D14            799     None  2015-06-16 22:30:00  2015      6
15129       E5            716     None  2015-06-16 11:30:00  2015      6
15130       B2            279     None  2015-06-16 19:34:02  2015      6
15131       C6            214     None  2015-06-16 18:16:00  2015      6
15132      C11            379     None  2015-06-16 17:43:00  2015      6
15133      C11            363     None  2015-06-16 09:00:00  2015      6
15134       C6            216     None  2015-06-16 13:28:00  2015      6
15135       B3            450     None  2015-06-16 09:30:00  2015      6
15136       A7             28     None  2015-06-15 22:00:00  2015      6
15137       A1             84     None  2015-06-16 04:24:00  2015      6
15138       B2            328     None  2015-06-16 02:20:00  2015      6
15139       D4            618     None  2015-06-15 21:15:00  2015      6
15140       D4            137     None  2015-06-15 08:00:00  2015      6
15141       B3            426     None  2015-06-15 19:15:00  2015      6
15142       B2            901     None  2015-06-15 17:00:00  2015      6
15143      E18            481     None  2015-06-15 17:15:00  2015      6
15144       B2            319     None  2015-06-15 16:56:00  2015      6
15145       C6            178     None  2015-06-15 12:00:00  2015      6
15146       A1            111     None  2015-06-15 10:30:00  2015      6
15147      C11            337     None  2015-06-15 08:13:00  2015      6
15148       B2            321     None  2015-06-15 09:10:00  2015      6
15149       B3            444     None  2015-06-15 05:26:00  2015      6
15150       B3            466     None  2015-06-15 12:00:00  2015      6
15151      E18            493     None  2015-06-15 00:03:00  2015      6
15152      C11            395     None  2015-09-03 13:00:00  2015      9
15153      C11            395     None  2015-09-03 13:00:00  2015      9

      DAY_OF_WEEK  HOUR  UCR_PART             STREET        Lat       Long  \
0         Tuesday     0  Part Two           HECLA ST  42.306821 -71.060300
1        Saturday    12  Part Two        W NEWTON ST  42.343858 -71.079535
2          Monday    15  Part Two         GENEVA AVE  42.298489 -71.063133
3          Friday    17  Part Two               A ST  42.347543 -71.050662
4          Monday    13  Part Two       E SEVENTH ST  42.332385 -71.030161
5          Friday    12  Part Two      BLUE HILL AVE  42.292165 -71.088970
6          Monday     5  Part Two          BEACON ST  42.353940 -71.078030
7          Monday     7  Part Two         NORFOLK ST  42.289969 -71.072325
8          Friday     7  Part Two         BULLARD ST  42.302188 -71.073650
9          Sunday    23  Part Two     DORCHESTER AVE  42.307828 -71.058375
10         Sunday    21  Part Two               P ST  42.332926 -71.027090
11         Sunday    20  Part Two          HORAN WAY  42.325475 -71.102535
12         Sunday    18  Part Two           ADAMS ST  42.328515 -71.076537
13         Sunday    17  Part Two               None  42.339742 -71.079609
14         Sunday    16  Part Two      WASHINGTON ST  42.281647 -71.071118
15       Saturday    14  Part Two       COLUMBUS AVE  42.313628 -71.095603
16         Sunday    17  Part Two         HARVARD ST  42.296297 -71.081153
17       Saturday    23  Part Two          SEAVER ST  42.308789 -71.090556
18         Monday    12  Part Two         W FIFTH ST  42.335985 -71.050083
19         Sunday     9  Part Two           RIVER ST  42.255192 -71.127617
20         Sunday     4  Part Two        E EIGHTH ST  42.331317 -71.044112
21         Sunday     0  Part Two          SEAVER ST  42.308789 -71.090556
22         Sunday     6  Part Two      WASHINGTON ST  42.294173 -71.071938
23         Sunday     6  Part Two           SOUTH ST  42.288780 -71.134381
24         Sunday     2  Part Two      WASHINGTON ST  42.287889 -71.126586
25         Sunday     0  Part Two         W FIFTH ST  42.335985 -71.050083
26         Sunday     0  Part Two         BOWDOIN ST  42.358323 -71.062784
27       Saturday    23  Part Two      HYDE PARK AVE  42.291828 -71.117801
28       Saturday    18  Part Two      MARSHFIELD ST  42.322632 -71.069798
29       Saturday    21  Part Two        CLEARWAY ST  42.345228 -71.085378
...           ...   ...       ...                ...        ...        ...
15124   Wednesday    12  Part Two           FRUIT ST  42.362403 -71.069547
15125   Wednesday    12  Part Two         ESTELLA ST  42.286874 -71.094571
15126     Tuesday    19  Part Two         BOWDOIN ST  42.308721 -71.064357
15127     Tuesday    14  Part Two       CLEVELAND ST  42.255249 -71.130822
15128     Tuesday    22  Part Two         ASHFORD ST  42.354587 -71.126733
15129     Tuesday    11  Part Two          CENTRE ST  42.269484 -71.161987
15130     Tuesday    19  Part Two        DEARBORN ST  42.328558 -71.079276
15131     Tuesday    18  Part Two         W FIFTH ST  42.337402 -71.052278
15132     Tuesday    17  Part Two         SARANAC ST  42.284199 -71.054407
15133     Tuesday     9  Part Two     DORCHESTER AVE  42.293288 -71.062195
15134     Tuesday    13  Part Two      DORCHESTER ST  42.332659 -71.051416
15135     Tuesday     9  Part Two      WHEATLAND AVE  42.293503 -71.073449
15136      Monday    22  Part Two           HAVRE ST  42.373123 -71.038016
15137     Tuesday     4  Part Two          PRINCE ST  42.364754 -71.054695
15138     Tuesday     2  Part Two       LAWRENCE AVE  42.310778 -71.074809
15139      Monday    21  Part Two     HUNTINGTON AVE  42.340916 -71.087715
15140      Monday     8  Part Two         NEWBURY ST  42.349421 -71.083158
15141      Monday    19  Part Two           RIVER ST  42.269567 -71.090750
15142      Monday    17  Part Two           SMITH ST  42.333637 -71.098417
15143      Monday    17  Part Two   HOLLINGSWORTH ST  42.268094 -71.099100
15144      Monday    16  Part Two          SONOMA ST  42.308453 -71.087187
15145      Monday    12  Part Two  MASSACHUSETTS AVE  42.331521 -71.070853
15146      Monday    10  Part Two         TREMONT ST  42.353110 -71.064323
15147      Monday     8  Part Two           ROCK TER  42.306121 -71.071832
15148      Monday     9  Part Two      BLUE HILL AVE  42.309525 -71.082618
15149      Monday     5  Part Two          ESMOND ST  42.298620 -71.085110
15150      Monday    12  Part Two         ESTELLA ST  42.286874 -71.094571
15151      Monday     0  Part Two      LEXINGTON AVE  42.262551 -71.115822
15152    Thursday    13  Part Two     DORCHESTER AVE  42.285260 -71.064441
15153    Thursday    13  Part Two     DORCHESTER AVE  42.285260 -71.064441

                          Location
0      (42.30682138, -71.06030035)
1      (42.34385799, -71.07953502)
2      (42.29848866, -71.06313294)
3      (42.34754258, -71.05066210)
4      (42.33238533, -71.03016099)
5      (42.29216506, -71.08896989)
6      (42.35393998, -71.07802992)
7      (42.28996858, -71.07232540)
8      (42.30218780, -71.07365004)
9      (42.30782846, -71.05837474)
10     (42.33292583, -71.02709025)
11     (42.32547536, -71.10253482)
12     (42.32851529, -71.07653709)
13     (42.33974218, -71.07960918)
14     (42.28164735, -71.07111848)
15     (42.31362799, -71.09560307)
16     (42.29629726, -71.08115283)
17     (42.30878855, -71.09055618)
18     (42.33598510, -71.05008287)
19     (42.25519156, -71.12761721)
20     (42.33131745, -71.04411164)
21     (42.30878855, -71.09055618)
22     (42.29417346, -71.07193797)
23     (42.28878014, -71.13438128)
24     (42.28788933, -71.12658585)
25     (42.33598510, -71.05008287)
26     (42.35832299, -71.06278436)
27     (42.29182835, -71.11780085)
28     (42.32263156, -71.06979845)
29     (42.34522836, -71.08537838)
...                            ...
15124  (42.36240281, -71.06954652)
15125  (42.28687441, -71.09457079)
15126  (42.30872066, -71.06435744)
15127  (42.25524883, -71.13082162)
15128  (42.35458677, -71.12673268)
15129  (42.26948370, -71.16198720)
15130  (42.32855807, -71.07927600)
15131  (42.33740172, -71.05227790)
15132  (42.28419895, -71.05440749)
15133  (42.29328831, -71.06219497)
15134  (42.33265906, -71.05141632)
15135  (42.29350272, -71.07344862)
15136  (42.37312349, -71.03801583)
15137  (42.36475392, -71.05469547)
15138  (42.31077758, -71.07480891)
15139  (42.34091586, -71.08771531)
15140  (42.34942050, -71.08315800)
15141  (42.26956689, -71.09075049)
15142  (42.33363658, -71.09841709)
15143  (42.26809427, -71.09909970)
15144  (42.30845311, -71.08718664)
15145  (42.33152148, -71.07085307)
15146  (42.35311007, -71.06432264)
15147  (42.30612092, -71.07183167)
15148  (42.30952511, -71.08261838)
15149  (42.29861988, -71.08511004)
15150  (42.28687441, -71.09457079)
15151  (42.26255067, -71.11582205)
15152  (42.28526024, -71.06444063)
15153  (42.28526024, -71.06444063)

[15154 rows x 17 columns]

Conteo Inner Join.

In [69]:
print(pd.read_sql(
    
    "SELECT COUNT(0) FROM crime A INNER JOIN offence B ON A.OFFENSE_CODE = B.OFFENSE_CODE"
    
    , engine.connect()))

   COUNT(0)
0     15154

Conteo Left Join.

In [70]:
print(pd.read_sql(
    
    "SELECT COUNT(0) FROM crime A LEFT JOIN offence B ON A.OFFENSE_CODE = B.OFFENSE_CODE"
    
    , engine.connect()))

   COUNT(0)
0    319073

## ROW_NUMBER OVER PARTITION

El objetivo que persigue esta función es obtener el número secuencial de una fila a partir de un conjunto de resultados. Por ejemplo, en nuestra tabla de crímenes queremos conocer los incidentes de un OFFENSE_CODE, pero piense que solo queremos obtener el incidente que tenga ID con el número más alto por OFFENSE_CODE.

Entonces surge la pregunta a partir de la situación mencionada, pero si contamos con varios OFFENSE_CODE, como se supone que determinaré el incidente con ID más alto?

Una respuesta aceptable seria usar la cláusula ORDER BY y ordenar el resultado de manera descendente.

Pero principal problema de todo esto es que conocemos los valores de los OFFENSE_CODE pero no conocemos el número de fila de los registros ordenado por OFFENSE_CODE. Pudiesen existir varios OFFENSE_CODE cada uno de ellos tiene un numero de fila, por tal razón, si vamos a filtrar por OFFENSE_CODE, cada OFFENSE_CODE tiene incidentes pero dichos incidentes agrupados por OFFENSE_CODE tienen un numero de fila. Por ejemplo:

In [73]:
print(pd.read_sql(
    
    "SELECT INCIDENT_NUMBER, OFFENSE_CODE,ROW_NUMBER() OVER (PARTITION BY OFFENSE_CODE ORDER BY INCIDENT_NUMBER DESC) Fila FROM crime"
    
    , engine.connect()))

       INCIDENT_NUMBER  OFFENSE_CODE   Fila
0           I182067317           111      1
1           I182064699           111      2
2           I182064056           111      3
3           I182059055           111      4
4           I182058835           111      5
5           I182057654           111      6
6           I182053414           111      7
7           I182052602           111      8
8           I182052365           111      9
9           I182051210           111     10
10          I182043561           111     11
11          I182042418           111     12
12          I182042108           111     13
13          I182041332           111     14
14          I182036836           111     15
15          I182034835           111     16
16          I182033779           111     17
17          I182031717           111     18
18          I182026852           111     19
19          I182025962           111     20
20          I182025532           111     21
21          I182023966           111     22
22          I182023600           111     23
23          I182022148           111     24
24          I182013918           111     25
25          I182011931           111     26
26          I182009897           111     27
27          I182008982           111     28
28          I182008316           111     29
29          I182003714           111     30
...                ...           ...    ...
319043      I152050350          3831  16294
319044      I152050342          3831  16295
319045      I152050290          3831  16296
319046      I152050259          3831  16297
319047      I152050254          3831  16298
319048      I152050242          3831  16299
319049      I152050197          3831  16300
319050      I152050190          3831  16301
319051      I152050121          3831  16302
319052      I152050120          3831  16303
319053      I152050109          3831  16304
319054      I152050105          3831  16305
319055      I152050072          3831  16306
319056      I152050067          3831  16307
319057      I152050059          3831  16308
319058      I152050057          3831  16309
319059      I152050056          3831  16310
319060      I152050024          3831  16311
319061      I152050006          3831  16312
319062      I152049934          3831  16313
319063      I152049930          3831  16314
319064      I152049851          3831  16315
319065      I152049829          3831  16316
319066      I152049767          3831  16317
319067      I152049738          3831  16318
319068      I152049692          3831  16319
319069      I152049658          3831  16320
319070      I152049635          3831  16321
319071      I152049561          3831  16322
319072      I152049542          3831  16323

[319073 rows x 3 columns]

## Cómo hacer consultas usando WITH (Recursividad)

Intentemos simplificar y aclarar la descripción del algoritmo que figura en los principales manuales que describen esta sentencia. Para simplificarlo, considere solo UNION ALL y WITH cláusula recursiva:


WITH RECURSIVE pseudo-entity-name(column-names) AS (
    Initial-SELECT
UNION ALL
    Recursive-SELECT using pseudo-entity-name
)
Outer-SELECT using pseudo-entity-name

El motor de base de datos ejecuta la selección inicial, tomando sus filas de resultados como conjunto de trabajo. Luego, ejecuta repetidamente la selección recursiva en el conjunto de trabajo, cada vez que reemplaza el contenido del conjunto de trabajo con el resultado de la consulta obtenida. Este proceso finaliza cuando el conjunto vacío se devuelve mediante selección recursiva. Y todas las filas de resultados dadas primero por selección inicial y luego por selección recursiva se recopilan y alimentan a la selección externa, cuyo resultado se convierte en el resultado de la consulta general.

In [94]:
# Creamos tabla catálogo offences
from sqlalchemy import *

meta = MetaData()

clasificacion4 = Table('clasificacion4', meta,
    Column('ID', String(60), nullable=True),
    Column('clasificacionCD', String(60), nullable=True)
)
clasificacion4.create(engine)

In [101]:
print(pd.read_sql(
    
    "WITH incident AS(SELECT A.INCIDENT_NUMBER AS ID,CASE WHEN  A.OFFENSE_CODE_GROUP='Vandalism' THEN 'Critico' ELSE 'No Critico' END AS clasificacion FROM crime A) SELECT DISTINCT CAST(A.ID AS STRING), CAST(MAX(A.clasificacion) AS STRING) FROM incident A WHERE ID <> '0'"
    
    , engine.connect()))

   CAST(A.ID AS STRING)  CAST(MAX(A.clasificacion) AS STRING)
0                     0                                     0

WITH incident AS(
SELECT A.INCIDENT_NUMBER AS ID
,CASE WHEN  A.OFFENSE_CODE_GROUP='Vandalism' THEN 'Critico' ELSE 'No Critico' END AS clasificacion
FROM crime)
INSERT INTO clasificacion
SELECT A.ID
MAX(clasificacion)
FROM incident A