# Reading CSV

comparisions between the normal way loading CSV and the pandas way

## normal way

In [18]:
import unicodecsv

def read_csv(filePath):
    with open(filePath, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)
    
def get_unique(data,field):
    return {item[field] for item in data}

daily_engagement = read_csv("temp/testcsv.csv")
unique_engagement_students = get_unique(daily_engagement,'a')

print(len(daily_engagement))
print( len(unique_engagement_students))

10
10

## With pandas

In [21]:
import pandas as pd

daily_engagement_pd = pd.read_csv("temp/testcsv.csv")
print(len(daily_engagement_pd))
unique_engagement_students_pd = daily_engagement_pd['a'].unique()
print(len(unique_engagement_students_pd))

10
10

# Exercise 1

Fill in this function to calculate the number of data points for which
    the directions of variable1 and variable2 relative to the mean are the
    same, and the number of data points for which they are different.
    Direction here means whether each value is above or below its mean.
    
    You can classify cases where the value is equal to the mean for one or
    both variables however you like.
    
    Each argument will be a Pandas series.
    
    For example, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([4, 5, 6, 7]), then the output would be (4, 0).
    This is because 1 and 4 are both below their means, 2 and 5 are both
    below, 3 and 6 are both above, and 4 and 7 are both above.
    
    On the other hand, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([7, 6, 5, 4]), then the output would be (0, 4).
    This is because 1 is below its mean but 7 is above its mean, and
    so on.

In [7]:
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

In [8]:

def variable_correlation(variable1, variable2):
    
    mean1 = variable1.mean()
    mean2 = variable2.mean()
    print(mean1)
    print(mean2)
    gt_mean1 = variable1 > mean1
    gt_mean2 = variable2 > mean2
    print(gt_mean1)
    print(gt_mean2)
    comparison = gt_mean1 == gt_mean2
    print(comparison)
    num_same_direction = len(comparison[comparison == True])
    num_different_direction =  len(comparison[comparison == False])    
    return (num_same_direction, num_different_direction)



print("First test")
print(variable_correlation(pd.Series([1, 2, 3, 4]),pd.Series([4, 5, 6, 7])))
print("")
print("Second test")
print(variable_correlation(pd.Series([1, 2, 3, 4]),pd.Series([7, 6, 5, 4])))

First test
2.5
5.5
0    False
1    False
2     True
3     True
dtype: bool
0    False
1    False
2     True
3     True
dtype: bool
0    True
1    True
2    True
3    True
dtype: bool
(4, 0)

Second test
2.5
5.5
0    False
1    False
2     True
3     True
dtype: bool
0     True
1     True
2    False
3    False
dtype: bool
0    False
1    False
2    False
3    False
dtype: bool
(0, 4)

### Another way to do it !!

You can have the same result but using the boolean operations

In [10]:

def variable_correlation_2(variable1, variable2):
    mean1 = variable1.mean()
    mean2 = variable2.mean()
    both_above= (variable1 > mean1) & (variable2 > mean2)
    both_below= (variable1 < mean1) & (variable2 < mean2)
    is_same_direction = both_above | both_below
    num_same_direction = is_same_direction.sum() # when you sum a 
    num_different_direction = len(is_same_direction) - num_same_direction
    return (num_same_direction,num_different_direction)


print("")
print("Testing the second function !!")
print("First test")
print(variable_correlation_2(pd.Series([1, 2, 3, 4]),pd.Series([4, 5, 6, 7])))
print("")
print("Second test")
print(variable_correlation_2(pd.Series([1, 2, 3, 4]),pd.Series([7, 6, 5, 4])))

Testing the second function !!
First test
(4, 0)

Second test
(0, 4)

In [11]:
print(variable_correlation(life_expectancy,gdp))

72.86999999999999
9147.879916483502
0      True
1      True
2      True
3     False
4      True
5      True
6     False
7      True
8      True
9     False
10    False
11     True
12    False
13     True
14    False
15     True
16    False
17    False
18    False
19    False
dtype: bool
0     False
1     False
2      True
3     False
4      True
5      True
6     False
7      True
8      True
9     False
10     True
11     True
12    False
13     True
14    False
15     True
16    False
17    False
18    False
19    False
dtype: bool
0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool
(17, 3)

# exercise 2

    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    
    The input will be a Pandas series where the values
    are employment and the index is country names.
    
    Try using the Pandas idxmax() function. Documention can
    be found here:
    http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.idxmax.html

In [14]:

countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

def max_employment(employment):
    
    max_country = employment.idxmax()
    #max_country = employment.argmax()
    max_value = employment.loc[max_country]   

    return (max_country, max_value)

max_employment(employment)

('Angola', 75.69999695)

# exercise 3
Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.

In [15]:

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

def reverse_names(names):
    splited_names = names.split(' ')
    return "{}, {}".format(splited_names[1],splited_names[0])

names.apply(reverse_names)

0             Agassi, Andre
1              Bonds, Barry
2     Columbus, Christopher
3             Defoe, Daniel
4           Estevez, Emilio
5          Flintstone, Fred
6              Garbo, Greta
7          Humbert, Humbert
8               Ilych, Ivan
9              Joyce, James
10         Knightley, Keira
11               Lane, Lois
12              Myers, Mike
13              Nolte, Nick
14           Osbourne, Ozzy
15           Picasso, Pablo
16       Quirrell, Quirinus
17             Ray, Rachael
18          Sarandon, Susan
19             Turner, Tina
20           Urbina, Ugueth
21            Vaughn, Vince
22          Wilson, Woodrow
23             Yamada, Yoji
24         Zidane, Zinedine
dtype: object